@import "tailwindcss";

@import "tailwindcss";
@plugin "daisyui";

@theme {
	--blur-*: initial;
	--blur-xs: 2px;

	--drop-shadow-glow-weak: 0 0px 20px oklch(65.69% 0.196 275.75 / 0.6);
	--drop-shadow-glow-strong:
		0 0px 10px oklch(65.69% 0.196 275.75 / 0.7),
		0 0px 20px oklch(65.69% 0.196 275.75 / 0.5);
	--drop-shadow-glow-accent: 0 0px 20px oklch(74.51% 0.167 183.61 / 0.8);

	--animate-spin-slow: spin 3s linear infinite;
	--animate-float: float 4s ease-in-out infinite;
	--animate-float-offset: float 2s ease-in-out infinite;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility background-grid {
	background-size: 50px 50px;
	background-image:
		linear-gradient(to right, white 1px, transparent 1px),
		linear-gradient(to bottom, white 1px, transparent 1px);
}

@utility no-scrollbar {
	/* Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/*

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: 2px solid gray;
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: slategray; 
  border-radius: 10px;
}

*/

@layer utilities {
	@keyframes float {
		0% {
			box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
			transform: translatey(0px);
		}
		50% {
			box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
			transform: translatey(-20px);
		}
		100% {
			box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
			transform: translatey(0px);
		}
	}
}
