name: On Push

on:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  # cd:
  #   needs:
  #     - ci
  #   uses: ./.github/workflows/cd.yml
